{# year comes from shortcode #}
<footer class="site-footer" role="contentinfo">
	<div class="site-footer__inner container">
		<a href="/imprint" class="site-footer__link">Imprint</a>
		<p>© {% year %} {{ meta.author }}. All Rights Reserved.</p>
	</div>
</footer>
