@use '../3-tools/mixins' as *;

// default grid layout for site
.skeleton__grid {
	@include breakpoint($breakpoint-md) {
		display: grid;
		grid-auto-columns: 1fr;
		grid-auto-rows: 1fr;
		grid-template-columns: 470px auto;
		grid-template-rows: auto auto 1fr;
		gap: 0px 0px;
		grid-template-areas:
			'nav header'
			'nav content'
			'nav footer';
	}
}

.site-header {
	@include breakpoint($breakpoint-md) {
		grid-area: header;
	}
}

.main {
	margin-left: var(--spacing-medium);
	min-height: 87vh;

	@include breakpoint($breakpoint-md) {
		grid-area: content;
	}
}

.site-footer {
	margin-left: var(--spacing-medium);
	@include breakpoint($breakpoint-md) {
		grid-area: footer;
	}
}
