@use '../3-tools/mixins' as *;

.site-footer__inner {
	padding: var(--spacing-medium);
	padding-left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	@include breakpoint($breakpoint-md) {
		flex-direction: row;
	}
}

.site-footer__link {
	color: var(--textColor);
	font-weight: 700;
	text-decoration: none;
}
