:root {
	--textColor: #1a1a1a;
	--primaryColor: #ed247b;
	--focusColor: #b3400b;
	--backgroundColor: #ffffff;
	--squareColour: rgb(249, 249, 249);
}

// Very basic support for a dark color scheme
@media (prefers-color-scheme: dark) {
	:root {
		--color-mode: 'dark';
	}

	:root:not([data-user-color-scheme]) {
		--backgroundColor: #151515;
		--textColor: #eeeeee;
		--primaryColor: #ed247b;
		--squareColour: #1b1b1b;
	}
}
