/**
 * Standard Media Queries
 */
:root {
	--mq-small: 'screen and (max-width: 47.9375em)';
	--mq-medium: 'screen and (min-width: 48em)';
	--mq-large: 'only screen and (min-width: 64.0625em)';
	--mq-x-large: 'screen and (min-width: 90em)';
	--breakpoint-xs: 480px;
	--breakpoint-sm: 768px;
	--breakpoint-md: 1024px;
	--breakpoint-lg: 1200px;
	--breakpoint-xl: 1900px;
}
