/**
 *  Typography design tokens: Font-sizes, line-height, etc. 
 */

:root {
	--fluid-screen: 100vw;
	--fluid-min-width: 320;
	--fluid-max-width: 1500;
	--fluid-min-size: 18;
	--fluid-max-size: 22;
	--fluid-min-ratio: 1.2;
	--fluid-max-ratio: 1.5;
	--pixel-8: 8px;
	--pixel-16: 16px;

	--font-base: 1rem;
	--h1: 2rem;
	--h2: 1.5rem;
}
