.mb-sm {
	margin-bottom: var(--spacing-small);
}

.mb-md {
	margin-bottom: var(--spacing-medium);
}

.mb-lg {
	margin-bottom: var(--spacing-large);
}

.mb-xl {
	margin-bottom: var(--spacing-x-large);
}

.mb-xxl {
	margin-bottom: var(--spacing-xx-large);
}
