/**
 * Global settings
 */

:root {
	--square: 2rem;
	--halfSquare: 1rem;
	--menuSquare: 112px;
	--menuSquare-sm: 72px;
	--menuSquare-xs: 48px;

	--z-50: 50;
	--z-100: 100;
	--z-200: 200;
	--z-999: 999;
}
