---
layout: base
date: Last Modified
eleventyNavigation:
  key: Home
  order: 1
  icon: /public/assets/images/nav/home_cropped.gif
---

<div class="container">
	<h1>I really need a title</h1>
	<p>
		Hello! This website serves as a creative outlet and potpourri of various
		media. It's nice to have a place where I can store projects and easily
		access them again. <br />
		Currently much of it is a work in progress, but feel free to browse around.
		{# include rss feed #}
	</p>

	{# about the author, move later #}
	<div class="introduction">tempu, 30, f, bla bla</div>

	{# updates, move later #}
	<ul class="changelog__list">
		<li class="changelog__item">date, change</li>
		<li class="changelog__item"></li>
		<li class="changelog__item"></li>
	</ul>

	{# tamagotchi, weblinks etc here, move later #} {# guest book, include here,
	move later #}
</div>
