<!DOCTYPE html>
<html lang="{{ meta.lang }}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ meta.title }}</title>

		{% include "meta.njk" %}

		<link rel="stylesheet" href="/assets/css/main.scss" />
	</head>
	<body class="">
		<button
			class="btn toggle-animations"
			data-toggle-animation
			aria-label="toggle gif animation"
		>
			<img
				id="toggleAnimationPlay"
				class="toggle-animations__icon show"
				src="/assets/images/nav/play.gif"
				width="40"
				height="36"
			/>
			<img
				id="toggleAnimationPause"
				class="toggle-animations__icon hide"
				src="/assets/images/nav/pause.gif"
				width="32"
				height="34"
			/>
		</button>
		<a href="#main" class="skiplink">Skip to main content</a>

		<div class="skeleton__grid" role="document">
			{# header at the top #} {% include "header.njk" %} {# nav separately #} {%
			include "navigation.njk" %}
			<main id="main" class="main">
				{{ content | safe }}
			</main>
			{% include "footer.njk" %}
		</div>

		<script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
	</body>
</html>
