<section class="about wrapper__md">
	{# about the author, move later #}

	<div class="about__container">
		<img
			class="about__img"
			width="150"
			height="150"
			src="assets/images/avatar.jpg"
			alt="user image tempurastick by gloomyhome"
		/>
		<div class="about__container__text">
			<h2 class="about__h2">Who is this?</h2>
			<ul class="about__list list--sparkle">
				<li class="about__list__item">
					tempu, tempurastick, your resident shrimp
				</li>
				<li class="about__list__item">
					Software developer by day, art gremlin by night
				</li>
				<li class="about__list__item">Residing somewhere in Germany</li>
			</ul>
		</div>
	</div>
</section>
